@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-style: bold;
    color:#FFFFFF;
    margin-top: 50px;
    gap: 30px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-style: bold;
    gap: 10px;
}

.iconImg {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
}