@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-style: bold;
    color:#FFFFFF;
    margin-top: 50px;
    gap: 25px;
}

p{
    font-size: 18px;
    max-width: 900px;
    text-align: justify;
}


.img1,
.img2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.img1 img,
.img2 img {
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 15px #000;
}