@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  background-color: #141F37; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 5px;
  font-family: 'Playfair Display', serif;
  box-shadow: 0px 4px 6px 50px #93E1D3;
}

nav {
  display: flex;
  gap: 80px; 
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #93E1D3; 
}