@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.Grid {
    width: 90%;
    max-width: 1000px;
    margin: 60px auto;
    padding: 40px 40px;
    border-radius: 20px;

    background: linear-gradient(180deg, #0C152B 0%, #141F37 40%, #133146 70%, #1f4e70 100%);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    text-align: center;
    font-family: 'Playfair Display', serif;
}


.card {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 50px;
    justify-items: center;
    width: 100%;
}


button {
    background: #004C8D;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 18px;
    color:#FFFFFF;
    height: 50px;
    width: 250px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    margin-top: 50px;
}