@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Grid {
    background: linear-gradient(180deg, #0C152B 0%, #141F37 40%, #133146 70%, #1f4e70 100%);
    border-color: white;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    width: 55%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px 90px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card{
    display: flex;
    flex-direction: row;
    gap: 8%;
    font-size: 18px;
}

button {
    background: #004C8D;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 18px;
    color:#FFFFFF;
    height: 50px;
    width: 250px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    margin-top: 50px;
}
