.footer {
    background-color: #0C152B;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    font-family: "Playfair Display", serif;
}

.footer-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 25px;
}

.footer-left,
.footer-right {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
}

.divider {
    height: 50px;
    width: 1.5px;
    background-color: #ffffff50;
}

.footer-copy {
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
