@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-style: bold;
    color:#FFFFFF;
    margin-top: 50px;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 23%;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.imgStore{
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    width: 250px;
}

button {
    background: #004C8D;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 18px;
    color:#FFFFFF;
    height: 50px;
    width: 200px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    margin-top: 50px;
}