@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    color: white;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 12px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

form label {
    margin-top: 8px;
    font-weight: bold;
}

form input {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.button {
    margin: 10px auto 0 auto;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #d8d8d8;
}
